<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @item.image? %>
    <div class="thumbnail">
      <%= image_tag @item.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->




<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
